.THIS .back-site{
    background-color: #00A3E0;
    padding: 0.5em;
}
.THIS .title-back{
    
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 1.5em;
    align-items: center;
    text-align: center;
}
.THIS .content-back{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 1.5em;
    
}
.THIS .head-font{
    font-family: "Georgia", Georgia, serif;
    font-weight: 600;
    font-size: 1.6em;
    cursor: default;
}

.THIS .title1{
    cursor: default;
    color: #0070D2;
}
.THIS .title2{
    cursor: default;
    color: #B32C7D;
}

.THIS .no-select{
    cursor: pointer;
    height: 2.0em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    
}

.THIS .month-font{
    font-family: "Georgia", Georgia, serif;
    font-size: 1.2em;
    padding-left: 2.0em;
    
}

.THIS .year-font{
    height: 2.0em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 1.2em;
}

.THIS .no-select:hover{
    /*background-color: #0070D2;*/
    color: #0070D2;
    border: 2px solid #0070D2;
    
}

.THIS .err-font{
    color: #000000;
    font-family: "Georgia", Georgia, serif;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    cursor: default;
}

.THIS .select{
    background-color: #0070D2;
    color: #ffffff;
    cursor: pointer;
    height: 2.0em;
    border: 1px solid #0070D2;
    border-radius: 5px;
}

.THIS .balance{
    font-weight: 400;
    font-size: 1.4em;
}